#body {
    text-align: center;
    background-color: rgb(255, 99, 71);
}

#header {
    text-align: center;
    font-size: 24px;
    background-color: rgb(255, 99, 71);
}

#navigation {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-around;
}

#main {
    width: 70%;
    float: left;
    background-color: cyan;
}

#ul {
    text-align: center;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

#li {
    text-align: center;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

#list-item {
    text-align: center;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

#sidebar {
    width: 30%;
    float: right;
    background-color: lightgrey;
}

#footer {
    clear: both;
    text-align: center;
    color: cyan;
    background-color: blue;
}