#body {
    text-align: center;
    background-color: rgb(71, 255, 141);
}

#header {
    text-align: center;
    font-size: 25px;
}

#navigation {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-around;
}

#main {
    width: 70%;
    float: left;
    background-color: cyan;
}

#sidebar {
    width: 30%;
    float: right;
    background-color: lightgrey;
}

#footer {
    clear: both;
    text-align: center;
    color: cyan;
    background-color: blue;
}